<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-header">Lowercase</div>
                <div class="card-body">
                    {{convertText | lowercase}}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-header">Uppercase</div>
                <div class="card-body">
                    {{convertText | uppercase}}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-header">Currency</div>
                <div class="card-body">
                    <p>{{ itemPrice | currency:'USD':true }}</p>
                    <p>{{ itemPrice | currency:'EUR':true}}</p>
                    <p>{{ itemPrice | currency:'INR' }}</p>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-header">Date Pipe</div>
                <div class="card-body">
                    <p>{{ currentDate | date:'fullDate' }}</p>
                    <p>{{ numDateFormat | date:'medium' }}</p>
                    <p>{{ getYear | date:'yy' }}</p>
                    <p>{{ getTime | date:'Hm' }}</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header">Decimal</div>
                <div class="card-body">
                    <p> {{myNum1 | number}} </p>
                    <p> {{myNum2 | number}} </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header">Percent </div>
                <div class="card-body">
                    <p>A: {{a | percent}}</p>
                    <p>B: {{b | percent:'4.3-5'}}</p>
                </div>
            </div>

        </div>

        <div class="col-3">
            <div class="card">
                <div class="card-header">Custom Pipe : Wordcount</div>
                <div class="card-body">
                    <p>{{ customText }}</p>
                    <p>word count : <strong>{{ customText | wordcount }}</strong></p>
                </div>
            </div>
        </div>

    </div>

</div>